.content-block-card {
    box-sizing: border-box;
    width: 99.25%;
    margin: 0px 0px;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;

    h2 {
      margin-bottom: 0;
    }
    p {
      //font-weight: 300;
      font-size: 16px;
      font-family: Arial, sans-serif;
    }

    .date{
      color: gray;
      margin-top: 10px;
    }

}

.btn{
  margin-left: 5px;
  margin-bottom: 5px;
}

.tab{
  cursor: pointer;
  margin-top: 10px;
  font-size: 17.5px;
}