.content-block-card {
    box-sizing: border-box;
    width: 99.25%;
    margin: 0px 0px;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;

    h2 {
      margin-bottom: 0;
    }
    p {
      font-size: 16px;
      font-family: Arial, sans-serif;
      margin-top: 50px;
    }

    .date{
      color: gray;
      margin-top: 10px;
    }

}

.btn{
  margin-left: 5px;
  margin-bottom: 5px;
}

.tab{
  cursor: pointer;
  margin-top: 15px;
  font-size: 17.5px;
}

.name{
  margin-top: 7.5px;
  cursor: pointer;
}

.top-bar-icons{
  margin-top: 7.5px;
}

.top-bar{
  position:fixed;
  z-index: 10;
  height: 40px;
  background-color: white;
  right: 0; 
  top: 0;
  left:0;
  margin-left: 27.5px;
  margin-right: 20px;
}