<div class="content-block-card" *ngIf="contentBlock">
    <div class="row justify-content-between top-bar">
        <div class="column col-1" (click)="goBack()" class="left-arrow">
            <mat-icon matTooltip="Retour aux thèmes">arrow_back</mat-icon>
        </div>
        <h2 class="column col-2" style="color: #2EA043" class="name">
            {{themeName | titlecase}}
        </h2>
        <div *ngFor="let cb of contentBlocks" class="col-2 col-sm-2 col-md-2 col-lg-2">
            <div *ngIf="contentBlock.id == cb.id" class="row">
                <span style="color: #2EA043" (click)="onShowContentBlock(cb.id)" class="tab">
                    {{cb.title}}
                </span>
            </div>
            <div *ngIf="contentBlock.id != cb.id" class="row">
                <span (click)="onShowContentBlock(cb.id)" class="tab">
                    {{cb.title}}
                </span>
            </div>
        </div>
        <div class="column col-1 top-bar-icons">
                <mat-icon (click)="edit()" matTooltip="Modifier">edit</mat-icon>
        </div>
    </div>
    <p [innerHTML]="htmlString"></p>
</div>