<div class="content-block-card" *ngIf="contentBlock">
    <div class="row justify-content-between">
        <h2 class="column">{{contentBlock.title | titlecase}}</h2>
        <div class="column">
            <button type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
            <button type="button" (click)="edit()" class="btn btn-primary">Edit</button>
        </div>
    </div>
    <p class="date">{{ contentBlock.createdDate | date : 'dd/MM/yy' }}</p>
    <p [innerHTML]="htmlString"></p>
</div>
<button type="button" (click)="goBack()" class="btn btn-warning column">Go Back</button>