.flex-container {
  display: flex;
  width: 100%;
}

.content-block-card {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 0px; 
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: lightgray 4px 4px 20px;
    transition: all 0.2s ease-in-out;
    flex: 100%;
    border-color: green;

    .content{
      padding-left: 25px; 
    }

    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }

    .date{
      color: gray;
    }

    .tex{
      padding-left: 25px;
    }

}

.icons{
  padding-right: 20px;
}

.ico{
  padding-left: 12.5px;
}

.content-block-card:not(.highlight-card) {
    cursor: pointer;
}

.mat-icon {
  cursor: pointer;
}

.content-block-card:not(.highlight-card):hover {
transform: translateY(-3px);
box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
