<div class="flex-container">
    <div class="content-block-card">
        <div class="row">
            <div class="column content col-7 col-sm-7 col-md-7 col-lg-7">
                <h2>{{contentBlock.title | titlecase}}</h2>
                <p class="date">{{ contentBlock.createdDate | date : 'dd/MM/yy'}}</p>
            </div>
            <div class="column col-5 col-sm-5 col-md-5 col-lg-5 float-right">
                <div class="row icons float-right">
                    <div (click)="onMinimize()" class="ico" matTooltip="Diminuer">
                        <mat-icon>minimize</mat-icon>
                    </div>
                    <div (click)="onMaximize()" class="ico" matTooltip="Agrandir">
                        <mat-icon>maximize</mat-icon>
                    </div>
                    <div (click)="onShowContentBlock()" class="ico" matTooltip="Pleine page">
                        <mat-icon> zoom_out_map </mat-icon>
                    </div>
                    <div (click)="edit()" class="ico" matTooltip="Modifier">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <div (click)="onDeleteContentBlock()" class="ico" matTooltip="Supprimer">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tex">
            <p [innerHTML]="htmlString"></p>
        </div>
    </div>
</div>