<div class="flex-container">
    <div class="content-block-card">
        <div class="row">
            <div class="column col-9 content">
                <h2>{{contentBlock.title | titlecase}}</h2>
                <p class="date">{{ contentBlock.createdDate | date : 'dd/MM/yy'}}</p>
            </div>
            <div class="column col-3">
                <div class="row icons float-right">
                    <div (click)="onShowContentBlock()" class="ico" matTooltip="Agrandir">
                        <mat-icon> zoom_out_map</mat-icon>
                    </div>
                    <div (click)="edit()" class="ico" matTooltip="Modifier">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <div (click)="onDeleteContentBlock()" class="ico" matTooltip="Supprimer">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tex">
            <p [innerHTML]="htmlString"></p>
        </div>
    </div>
</div>