.mainButton {
  //background-color: #4CAF50; /* Green */
  //color: white;
  box-sizing: border-box;
  border: none;
  margin: 7.5px;
  margin-bottom: 11px;
  outline: none;
  font-size: 14px;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

.mainButton2{
  //background-color: #4CAF50;
  //color: white;
  box-sizing: border-box;
  margin-left: 7.5px;
  padding: 0px;
  margin-top: -22.5px;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.25em;
}

.active {
  background-color: #70A8A8;
  color: white;
  padding-bottom  : 0px;
  display: inline-block;
}

p{
  margin-left: 20px;
  margin-top: 9px;
  cursor: pointer;
  color: black;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.subtheme{
  margin-left: 20px;
  margin-top: -5px;
  margin-bottom: 2.5px;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.row{

}