.mainButton {
  //background-color: #4CAF50; /* Green */
  //color: white;
  box-sizing: border-box;
  border: none;
  margin: 7.5px;
  margin-left: 0px;
  margin-bottom: 11px;
  outline: none;
  font-size: 14px;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

.subtheme{
  margin-left: 20px;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.theme{
 //margin-bottom: 0px;
}

.column2{
  margin-top: -15px;
}

.mainButton2{
  box-sizing: border-box;
  margin-left: 7.5px;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.25em;
}

.active {
  background-color: #70A8A8;
  color: white;
  padding-bottom  : 0px;
  display: inline-block;
}

.active2 {
  background-color: white;
  color: blue;
  padding-bottom  : 0px;
  display: inline-block;
}

p{
  margin-left: 0px;
  margin-top: 9px;
  cursor: pointer;
  color: black;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.arrow_right{
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list{
  margin-top: -10px;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  font-size: 14px;
}