<div *ngIf="theme.parentId==0">
    <div class="row">
        <p routerLink="/contentBlocks/theme/{{theme.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{theme.name | uppercase}}</p>
        <div class="column">
            <button class="mainButton" mat-icon-button [matMenuTriggerFor]="a">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #a="matMenu">
                <button class="secondButton" mat-menu-item (click)="onAddNewContentBlock()">
                    <mat-icon>add</mat-icon>
                    <span>Add content</span>
                </button>
                <button class="secondButton" mat-menu-item (click)="onAddNewSubtheme()">
                    <mat-icon>add</mat-icon>
                    <span>Add sub-theme</span>
                </button>
                <button class="secondButton" mat-menu-item (click)="onDeleteTheme()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete theme</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div *ngFor="let themeElement of themes" class="row">
        <div class= "subtheme column h-50" routerLink="/contentBlocks/theme/{{themeElement.id}}" *ngIf="themeElement.parentId==theme.id" routerLinkActive="active">
            <mat-icon>arrow_forward</mat-icon> {{themeElement.name | uppercase}}
        </div>
        <div class="column column2" *ngIf="themeElement.parentId==theme.id">
            <button class="mainButton2" mat-icon-button [matMenuTriggerFor]="a">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #a="matMenu">
                <button class="secondButton" mat-menu-item (click)="onAddNewContentBlockForSubtheme(themeElement)">
                    <mat-icon>add</mat-icon>
                    <span>Add content</span>
                </button>
                <button class="secondButton" mat-menu-item (click)="onSubDeleteTheme(themeElement.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete theme</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>