<ng-container *ngIf="contentBlock">
    <div class="form-card">
        <div class="row justify-content-between">
            <div class="column col-1 left-arrow" (click)="goBack()">
                <mat-icon matTooltip="Retour aux thèmes">arrow_back</mat-icon>
            </div>
            <h2 class="column col-2 name" style="color: #2EA043">
                    {{themeName | titlecase}}
            </h2>
            <div *ngFor="let cb of contentBlocks" class="col-2 col-sm-2 col-md-2 col-lg-2">
                <div *ngIf="contentBlock.id == cb.id" class="row">
                    <span style="color: #2EA043" (click)="onEditContentBlock(cb.id)" class="tab" *ngIf="!canEditCode">
                        {{cb.title}}
                    </span>
                    <form [formGroup]="contentBlockForm" *ngIf="canEditCode" class="row abcd">
                        <div class="form-group">
                            <input id="title" type="text" formControlName="title" size="25">
                        </div>
                        <button type="button" (click)="canEditCode = false" class="btn btn-warning column btn-title">Annuler</button>
                        <button type="submit" (click)="onSubmitTitle()" [disabled]="contentBlockForm.invalid" class="btn btn-success column btn-title">Enregistrer</button>
                    </form>
                    <div (click)="canEditCode = true" class="ico" matTooltip="Modifier le titre" *ngIf="!canEditCode">
                        <mat-icon id="edit">edit</mat-icon>
                    </div>
                </div>
                <div *ngIf="contentBlock.id != cb.id" class="row">
                    <span (click)="onEditContentBlock(cb.id)" class="tab">
                        {{cb.title}}
                    </span>
                </div>
            </div>
            <div (click)="onShowContentBlock()" class="column col-1 col-sm-1 col-md-1 col-lg-1 eye-icon" matTooltip="Lecture">
                <mat-icon> remove_red_eye </mat-icon>
            </div>
        </div>
    
        <form [formGroup]="contentBlockForm" *ngIf="isLoaded==true">
            <div class="form-group">
                <ckeditor formControlName="content" name="fieldName" (change)="onChange($event)">
                </ckeditor>
            </div>
            <!--<div class="modal-footer row">
                <button type="button" (click)="goBack()" class="btn btn-warning column">Retour à la page principale</button>
            </div>  -->
        </form>
    </div>
</ng-container>
<notifier-container></notifier-container>