<ng-container *ngIf="contentBlock">
    <div class="form-card">
        <h2><span style="color: #2EA043">{{themeName | titlecase}}</span></h2>
        <div class="container">
            <div class="row">
                <div *ngFor="let cb of contentBlocks" class="col-5 col-sm-5 col-md-5 col-lg-5">
                    <div *ngIf="contentBlock.id == cb.id" class="row">
                        <span style="color: #2EA043" (click)="onEditContentBlock(cb.id)" class="tab" *ngIf="!canEditCode">
                            {{cb.title}}
                        </span>
                        <form [formGroup]="contentBlockForm" *ngIf="canEditCode" class="row abcd">
                            <div class="form-group">
                                <input id="title" type="text" formControlName="title" size="25">
                            </div>
                            <button type="button" (click)="canEditCode = false" class="btn btn-warning column btn-title">Annuler</button>
                            <button type="submit" (click)="onSubmitTitle()" [disabled]="contentBlockForm.invalid" class="btn btn-success column btn-title">Enregistrer</button>
                        </form>
                        <div (click)="canEditCode = true" class="ico" matTooltip="Modifier le titre" *ngIf="!canEditCode">
                            <mat-icon id="edit">edit</mat-icon>
                        </div>
                    </div>
                    <div *ngIf="contentBlock.id != cb.id" class="row">
                        <span (click)="onEditContentBlock(cb.id)" class="tab">
                            {{cb.title}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="contentBlockForm" *ngIf="isLoaded==true">
            <!--<mat-tab-group>
                <mat-tab *ngFor="let cb of contentBlocks" [label]="contentBlock.title"> -->
                    <!--<div class="form-group">
                        <label for="title">Titre</label>
                        <input id="title" type="text" formControlName="title" size="30">
                    </div>-->
                    <div class="form-group">
                        <ckeditor
                        formControlName="content" name="fieldName">
                        </ckeditor>
                    </div>
                <!--</mat-tab>
            </mat-tab-group>-->

            <div class="modal-footer row">
                <button type="button" (click)="goBack()" class="btn btn-warning column">Enregistrer et quitter</button>
                <button type="submit" (click)="onSubmitForm()" class="btn btn-success column">Enregistrer</button>
            </div>  
        </form>
    </div>
</ng-container>
<notifier-container></notifier-container>