<!--<div class="form">
    <input matInput type="text" [formControl]="searchCtrl">
</div>-->

<div class="row">
    <p class="column">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a theme">
    </p>
</div>

<div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="themes" class="example-list">
    <app-theme class="example-box" *ngFor="let themeElement of themes | filter:searchText" [theme]="themeElement" cdkDrag>
    </app-theme>
</div>
