.row{
  margin-left: 5px;
  margin-right: 5px;
}

.youpi{
 
}
  
.column {
  width: 25%;
}

  button {
    background-color: #4CAF50; /* Green */
    color: white;
    box-sizing: border-box;
    padding: 10px 10px;
    padding-left: 4px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin: 10px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }

button:not(.highlight-card) {
    cursor: pointer;
}   

.mat-icon {
  vertical-align: middle;
  font-size: 1.5em;
}

.contentBlockList{
  margin-top: -60px;
  margin-left: -10px;
}